.js-calculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

.js-calculator .operations-block button {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.js-calculator .inputs-block .input-block label {
    display: block;
}


.js-calculator .inputs-block .input-block {
    display: inline-block;
    padding: 20px;
}